/* width and height */
.w-50px{
	width: 50px;
}
.w-100px{
	width: 100px;
}
.w-150px{
	width: 150px;
}
.w-200px{
	width: 200px;
}
.w-250px{
	width: 250px;
}
.w-300px{
	width: 300px;
}
.w-350px{
	width: 350px;
}
.w-400px{
	width: 400px;
}
.w-450px{
	width: 450px;
}
.w-500px{
	width: 500px;
}
.w-550px{
	width: 550px;
}
.w-600px{
	width: 600px;
}
.w-650px{
	width: 650px;
}
.w-700px{
	width: 700px;
}
.w-750px{
	width: 750px;
}
.w-800px{
	width: 800px;
}
.w-850px{
	width: 850px;
}
.w-900px{
	width: 900px;
}
.w-950px{
	width: 950px;
}
.w-5pc{
	width: 5%;
}
.w-10pc{
	width: 10%;
}
.w-15pc{
	width: 15%;
}
.w-18pc{
	width: 18%;
}
.w-20pc{
	width: 20%;
}
.w-25pc{
	width: 25%;
}
.w-30pc{
	width: 30%;
}
.w-35pc{
	width: 35%;
}
.w-40pc{
	width: 40%;
}
.w-45pc{
	width: 45%;
}
.w-50pc{
	width: 50%;
}
.w-55pc{
	width: 55%;
}
.w-60pc{
	width: 60%;
}
.w-65pc{
	width: 65%;
}
.w-70pc{
	width: 70%;
}
.w-75pc{
	width: 75%;
}
.w-80pc{
	width: 80%;
}
.w-85pc{
	width: 85%;
}
.w-90pc{
	width: 90%;
}
.w-91pc{
	width: 91%;
}
.w-95pc{
	width: 95%;
}
.w-100pc{
	width: 100%;
}
.w-auto{
	width: auto;
}
/* height */
.h-50px{
	height: 50px;
}
.h-100px{
	height: 100px;
}
.h-150px{
	height: 150px;
}
.h-200px{
	height: 200px;
}
.h-250px{
	height: 250px;
}
.h-300px{
	height: 300px;
}
.h-350px{
	height: 350px;
}
.h-400px{
	height: 400px;
}
.h-450px{
	height: 450px;
}
.h-500px{
	height: 500px;
}
.h-550px{
	height: 550px;
}
.h-600px{
	height: 600px;
}
.h-650px{
	height: 650px;
}
.h-700px{
	height: 700px;
}
.h-750px{
	height: 750px;
}
.h-800px{
	height: 800px;
}
.h-850px{
	height: 850px;
}
.h-900px{
	height: 900px;
}
.h-950px{
	height: 950px;
}
.h-5pc{
	height: 5%;
}
.h-10pc{
	height: 10%;
}
.h-15pc{
	height: 15%;
}
.h-20pc{
	height: 20%;
}
.h-25pc{
	height: 25%;
}
.h-30pc{
	height: 30%;
}
.h-35pc{
	height: 35%;
}
.h-40pc{
	height: 40%;
}
.h-45pc{
	height: 45%;
}
.h-50pc{
	height: 50%;
}
.h-55pc{
	height: 55%;
}
.h-60pc{
	height: 60%;
}
.h-65pc{
	height: 65%;
}
.h-70pc{
	height: 70%;
}
.h-75pc{
	height: 75%;
}
.h-80pc{
	height: 80%;
}
.h-85pc{
	height: 85%;
}
.h-90pc{
	height: 90%;
}
.h-95pc{
	height: 95%;
}
.h-100pc{
	height: 100%;
}
.h-auto{
	height: auto;
}
/* padding margin */
.padding-none{
	padding: 0;
}
.padding-top-none{
	padding-top: 0;
}
.padding-left-none{
	padding-left: 0;
}
.padding-right-none{
	padding-right: 0;
}
.padding-bottom-none{
	padding-bottom: 0;
}
/* padding left */
.padding-left-5px{
	padding-left: 5px;
}
.padding-left-10px{
	padding-left: 10px;
}
.padding-left-15px{
	padding-left: 15px;
}
.padding-left-20px{
	padding-left: 20px;
}
.padding-left-25px{
	padding-left: 25px;
}
.padding-left-1pc{
	padding-left: 1%;
}
.padding-left-5pc{
	padding-left: 5%;
}
.padding-left-10pc{
	padding-left: 10%;
}
.padding-left-15pc{
	padding-left: 15%;
}
.padding-left-20pc{
	padding-left: 20%;
}
.padding-left-25pc{
	padding-left: 25%;
}
.padding-left-30pc{
	padding-left: 30%;
}
.padding-left-35pc{
	padding-left: 35%;
}
.padding-left-40pc{
	padding-left: 40%;
}
.padding-left-45pc{
	padding-left: 45%;
}
.padding-left-50pc{
	padding-left: 50%;
}
/* padding right */
.padding-right-1pc{
    padding-right: 1%;
}
.padding-right-2pc{
    padding-right: 2%;
}
.padding-right-5pc{
    padding-right: 5%;
}
.padding-right-10pc{
    padding-right: 10%;
}
.padding-right-15pc{
    padding-right: 15%;
}
.padding-right-20pc{
    padding-right: 20%;
}
.padding-right-25pc{
    padding-right: 25%;
}
.padding-right-30pc{
    padding-right: 30%;
}
.padding-right-35pc{
    padding-right: 35%;
}
.padding-right-40pc{
    padding-right: 40%;
}
.padding-right-45pc{
    padding-right: 45%;
}
.padding-right-50pc{
    padding-right: 50%;
}
.padding-right-5px{
	padding-right: 5px;
}
.padding-right-10px{
	padding-right: 10px;
}
.padding-right-15px{
	padding-right: 15px;
}
.padding-right-20px{
	padding-right: 20px;
}
.padding-right-25px{
	padding-right: 25px;
}
/* padding-top */
.padding-top-1pc{
	padding-top: 1%;
}
.padding-top-2pc{
    padding-top: 2%;
}
.padding-top-5pc{
    padding-top: 5%;
}
.padding-top-10pc{
    padding-top: 10%;
}
.padding-top-15pc{
    padding-top: 15%;
}
.padding-top-20pc{
    padding-top: 20%;
}
.padding-top-25pc{
    padding-top: 25%;
}
.padding-top-30pc{
    padding-top: 30%;
}
.padding-top-35pc{
    padding-top: 35%;
}
.padding-top-40pc{
    padding-top: 40%;
}
.padding-top-45pc{
    padding-top: 45%;
}
.padding-top-50pc{
    padding-top: 50%;
}
.padding-top-5px{
	padding-top: 5px;
}
.padding-top-10px{
	padding-top: 10px;
}
.padding-top-15px{
	padding-top: 15px;
}
.padding-top-20px{
	padding-top: 20px;
}
.padding-top-25px{
	padding-top: 25px;
}
/* padding-bottom */
.padding-bottom-1pc{
	padding-bottom: 1%;
}
.padding-bottom-2pc{
    padding-bottom: 2%;
}
.padding-bottom-5pc{
    padding-bottom: 5%;
}
.padding-bottom-10pc{
    padding-bottom: 10%;
}
.padding-bottom-15pc{
    padding-bottom: 15%;
}
.padding-bottom-20pc{
    padding-bottom: 20%;
}
.padding-bottom-25pc{
    padding-bottom: 25%;
}
.padding-bottom-30pc{
    padding-bottom: 30%;
}
.padding-bottom-35pc{
    padding-bottom: 35%;
}
.padding-bottom-40pc{
    padding-bottom: 40%;
}
.padding-bottom-45pc{
    padding-bottom: 45%;
}
.padding-bottom-50pc{
    padding-bottom: 50%;
}
.padding-bottom-5px{
	padding-bottom: 5px;
}
.padding-bottom-10px{
	padding-bottom: 10px;
}
.padding-bottom-15px{
	padding-bottom: 15px;
}
.padding-bottom-20px{
	padding-bottom: 20px;
}
.padding-bottom-25px{
	padding-bottom: 25px;
}
/* margin */
.margin-none{
	margin: 0;
}
.margin-auto{
	margin: auto;
}
/* margin-top */
.margin-top-1-px{
    margin-top: 1px;
}
.margin-top-2-px{
    margin-top: 2px;
}
.margin-top-5-px{
    margin-top: 5px;
}
.margin-top-10-px{
    margin-top: 10px;
}
.margin-top-15-px{
    margin-top: 15px;
}
.margin-top-20-px{
    margin-top: 20px;
}
.margin-top-25-px{
    margin-top: 25px;
}
.margin-top-1-pc{
    margin-top: 1%;
}
.margin-top-2-pc{
    margin-top: 2%;
}
.margin-top-5-pc{
    margin-top: 5%;
}
.margin-top-10-pc{
    margin-top: 10%;
}
.margin-top-15-pc{
    margin-top: 15%;
}
.margin-top-20-pc{
    margin-top: 20%;
}
.margin-top-25-pc{
    margin-top: 25%;
}
.margin-top-30-pc{
    margin-top: 30%;
}
.margin-top-35-pc{
    margin-top: 35%;
}
.margin-top-40-pc{
    margin-top: 40%;
}
.margin-top-45-pc{
    margin-top: 45%;
}
.margin-top-50-pc{
    margin-top: 50%;
}
/* margin-left */
.margin-left-1-px{
    margin-left: 1px;
}
.margin-left-2-px{
    margin-left: 2px;
}
.margin-left-5-px{
    margin-left: 5px;
}
.margin-left-10-px{
    margin-left: 10px;
}
.margin-left-15-px{
    margin-left: 15px;
}
.margin-left-20-px{
    margin-left: 20px;
}
.margin-left-25-px{
    margin-left: 25px;
}
.margin-left-1-pc{
    margin-left: 1%;
}
.margin-left-2-pc{
    margin-left: 2%;
}
.margin-left-5-pc{
    margin-left: 5%;
}
.margin-left-10-pc{
    margin-left: 10%;
}
.margin-left-15-pc{
    margin-left: 15%;
}
.margin-left-20-pc{
    margin-left: 20%;
}
.margin-left-25-pc{
    margin-left: 25%;
}
.margin-left-30-pc{
    margin-left: 30%;
}
.margin-left-35-pc{
    margin-left: 35%;
}
.margin-left-40-pc{
    margin-left: 40%;
}
.margin-left-45-pc{
    margin-left: 45%;
}
.margin-left-50-pc{
    margin-left: 50%;
}
/* margin-bottom */
.margin-bottom-1-px{
    margin-bottom: 1px;
}
.margin-bottom-2-px{
    margin-bottom: 2px;
}
.margin-bottom-5-px{
    margin-bottom: 5px;
}
.margin-bottom-10-px{
    margin-bottom: 10px;
}
.margin-bottom-15-px{
    margin-bottom: 15px;
}
.margin-bottom-20-px{
    margin-bottom: 20px;
}
.margin-bottom-25-px{
    margin-bottom: 25px;
}
.margin-bottom-1-pc{
    margin-bottom: 1%;
}
.margin-bottom-2-pc{
    margin-bottom: 2%;
}
.margin-bottom-5-pc{
    margin-bottom: 5%;
}
.margin-bottom-10-pc{
    margin-bottom: 10%;
}
.margin-bottom-15-pc{
    margin-bottom: 15%;
}
.margin-bottom-20-pc{
    margin-bottom: 20%;
}
.margin-bottom-25-pc{
    margin-bottom: 25%;
}
.margin-bottom-30-pc{
    margin-bottom: 30%;
}
.margin-bottom-35-pc{
    margin-bottom: 35%;
}
.margin-bottom-40-pc{
    margin-bottom: 40%;
}
.margin-bottom-45-pc{
    margin-bottom: 45%;
}
.margin-bottom-50-pc{
    margin-bottom: 50%;
}
/* margin-right */
.margin-right-1-px{
    margin-right: 1px;
}
.margin-right-2-px{
    margin-right: 2px;
}
.margin-right-5-px{
    margin-right: 5px;
}
.margin-right-10-px{
    margin-right: 10px;
}
.margin-right-15-px{
    margin-right: 15px;
}
.margin-right-20-px{
    margin-right: 20px;
}
.margin-right-25-px{
    margin-right: 25px;
}
.margin-right-1-pc{
    margin-right: 1%;
}
.margin-right-2-pc{
    margin-right: 2%;
}
.margin-right-5-pc{
    margin-right: 5%;
}
.margin-right-10-pc{
    margin-right: 10%;
}
.margin-right-15-pc{
    margin-right: 15%;
}
.margin-right-20-pc{
    margin-right: 20%;
}
.margin-right-25-pc{
    margin-right: 25%;
}
.margin-right-30-pc{
    margin-right: 30%;
}
.margin-right-35-pc{
    margin-right: 35%;
}
.margin-right-40-pc{
    margin-right: 40%;
}
.margin-right-45-pc{
    margin-right: 45%;
}
.margin-right-50-pc{
    margin-right: 50%;
}
/* fonts */
.font-size-11px{
    font-size: 11px;
}
.font-size-13px{
    font-size: 13px;
}
.font-size-15px{
    font-size: 15px;
}
.font-bold{
    font-weight: bold;
}
.font-serif{
    font-family: serif;
}
.font-fantasy{
    font-family: fantasy;
}
/* float */
.float-left{
	float: left;
}
.float-right{
	float: right;
}
.float-none{
	float: none;
}
.float-clear-left{
	clear: left;
}
.float-clear-right{
	clear: right;
}
/* display */
.z-index-100{
    z-index: 100;
}
.display-none{
    display: none;
}
.display-flex{
	display: flex;
}
.display-inline{
    display: inline;
}
.text-align-left{
    text-align: left;
}
.text-align-right{
    text-align: right;
}
.text-align-center{
    text-align: center;
}
.display-inline-flex{
	display: inline-flex;
}
/* text */
.text-decoration-overline{
	text-decoration: overline;
}
.text-decoration-line-through{
	text-decoration: line-through;
}
.text-decoration-underline{
	text-decoration: underline;
}
.text-decoration-overline-underline{
	text-decoration: underline overline;
}
.text-uppercase{
	text-transform: uppercase;
}
.text-lowercase{
	text-transform: lowercase;
}
.text-capitalize{
	text-transform: capitalize;
}
.text-indent-5px{
	text-indent: 5px;
}
.text-indent-10px{
	text-indent: 10px;
}
.text-indent-15px{
	text-indent: 15px;
}
.text-indent-20px{
	text-indent: 20px;
}
.letter-spacing-1px{
	letter-spacing: 1px;
}
.letter-spacing-3px{
	letter-spacing: 3px;
}
.letter-spacing-5px{
	letter-spacing: 5px;
}
.opacity{
	opacity:0.5;
}
.opacity-none{
	opacity: 1;
}
/* position */
.position-absolute {
	position: absolute;
}
.position-fixed {
	position: fixed;
}
.position-static{
	position: static;
}
.position-relative{
	position: relative;
}
.position-sticky{
	position: sticky;
}
/* right */
.right-5px{
	right: 5px;
}
.right-10px{
	right: 10px;
}
.right-15px{
	right: 15px;
}
.right-20px{
	right: 20px;
}
.right-25px{
	right: 25px;
}
/* left */
.left-5px{
	left: 5px;
}
.left-10px{
	left: 10px;
}
.left-15px{
	left: 15px;
}
.left-20px{
	left: 20px;
}
.left-25px{
	left: 25px;
}
/* top */
.top-5px{
	top: 5px;
}
.top-10px{
	top: 10px;
}
.top-15px{
	top: 15px;
}
.top-20px{
	top: 20px;
}
.top-25px{
	top: 25px;
}
/* bottom */
.bottom-5px{
	bottom: 5px;
}
.bottom-10px{
	bottom: 10px;
}
.bottom-15px{
	bottom: 15px;
}
.bottom-20px{
	bottom: 20px;
}
.bottom-25px{
	bottom: 25px;
}
/* border */
.border-none{
	border: 0;
}
.border-dotted{
	border-style: dotted;
}
.border-dashed{
	border-style: dashed;
}
.border-solid{
	border-style: solid;
}
.border-double{
	border-style: double;
}
.border-groove{
	border-style: groove;
}
.border-ridge{
	border-style: ridge;
}
.border-width-1px{
	border-width: 1px;
}
.border-width-2px{
	border-width: 2px;
}
.border-width-3px{
	border-width: 3px;
}
.border-width-4px{
	border-width: 4px;
}
.border-width-5px{
	border-width: 5px;
}
.border-radius-5px{
	border-radius: 5px;
}
.border-radius-10px{
	border-radius: 10px;
}
.border-radius-15px{
	border-radius: 15px;
}
.border-radius-20px{
	border-radius: 20px;
}
/* color */
.color-red{
	color: red;
}
.color-green{
	color: green;
}
.color-blue{
	color: blue;
}
.color-orange{
	color: orange;
}
.color-yellow{
	color: yellow;
}
.color-cyan{
	color: cyan;
}
.color-black{
	color: black;
}
.color-gray{
	color: gray;
}
/* background */
.background-red{
	background-color: red;
}
.background-green{
	background-color: green;
}
.background-blue{
	background-color: blue;
}
.background-orange{
	background-color: orange;
}
.background-yellow{
	background-color: yellow;
}
.background-cyan{
	background-color: cyan;
}
.background-black{
	background-color: black;
}
.background-gray{
	background-color: gray;
}
/* outline */
.outline-color-red{
	outline-color: red;
}
.outline-color-green{
	outline-color: green;
}
.outline-color-blue{
	outline-color: blue;
}
.outline-color-orange{
	outline-color: orange;
}
.outline-color-yellow{
	outline-color: yellow;
}
.outline-color-cyan{
	outline-color: cyan;
}
.outline-color-black{
	outline-color: black;
}
.outline-color-gray{
	outline-color: gray;
}
.outline-style-dotted{
	outline-style: dotted;
}
.outline-style-dashed{
	outline-style: dashed;
}
.outline-style-solid{
	outline-style: solid;
}
.outline-style-double{
	outline-style: double;
}
.outline-style-groove{
	outline-style: groove;
}
.outline-style-ridge{
	outline-style: ridge;
}
.outline-style-inset{
	outline-style: inset;
}
.outline-style-outset{
	outline-style: outset;
}
.outline-width-thick{
	outline-width: thick;
}
.outline-width-2px{
	outline-width: 2px;
}
/* css overflow */
.overflow-visible{
	overflow: visible;
}
.overflow-hidden{
	overflow: hidden;
}
.overflow-scroll{
	overflow: scroll;
}
.overflow-auto{
	overflow: auto;
}
/* css overflow text */
.text-overflow-ellipsis{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
/* css overflow clipped */
.text-overflow-clipped{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: clipped;
}
/* button */
.button-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.button-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}
.button-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}
.button-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
/* word-wrap */
.break-word{
	word-wrap: break-word;
}
/* block */
.block-center{
	margin: auto;
	width: 50%;
	border: 3px solid green;
	padding: 10px;
}
.block-right{
	float: right;
	width: 300px;
	border: 3px solid #73AD21;
	padding: 10px;
}
/* css tooltip */
.tooltip{
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}
.tooltip .tooltiptext{
	visibility: hidden;
	width: 120px;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
}
.tooltip:hover .tooltiptext{
	visibility: visible;
}
/* right tooltip */
.tooltip_right{
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}
.tooltip_right .tooltiptext_right{
	visibility: hidden;
	width: 120px;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	/* position the tooltip */
	position: absolute;
	z-index: 1;
	top: -5px;
	left: 105%;
}
.tooltip_right .tooltiptext_right::after{
	content: " ";
	position: absolute;
	top: 50%;
	right: 100%;
	margin-top: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent black transparent transparent;
}
.tooltip_right:hover .tooltiptext_right{
	visibility: visible;
}
/* left tooltip */
.tooltip_left{
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}
.tooltip_left .tooltiptext_left{
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	/* position the tooltip */
	position: absolute;
	z-index: 1;
	top: -5px;
	right: 105%;
}
.tooltip_left .tooltiptext_left::after{
	content: " ";
	position: absolute;
	top: 50%;
	left: 100%;
	margin-top: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent transparent black;
}
.tooltip_left:hover .tooltiptext_left{
	visibility: visible;
}
/* top tooltip */
.tooltip_top{
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}
.tooltip_top .tooltiptext_top{
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	bottom: 100%;
	left: 50%;
	margin-left: -60px;
}
.tooltip_top .tooltiptext_top::after{
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: black transparent transparent transparent;
}
.tooltip_top:hover .tooltiptext_top {
	visibility: visible;
}
/* bottom tooltip */
.tooltip_bottom{
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}
.tooltip_bottom .tooltiptext_bottom{
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	top: 100%;
	left: 50%;
	margin-left: -60px;
}
.tooltip_bottom .tooltiptext_bottom::after{
	content: " ";
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent black transparent;
}
.tooltip_bottom:hover .tooltiptext_bottom {
  visibility: visible;
}
/* Thumbnail Images */
.images-thumbnail{
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	width: 150px;
}
/* Responsive Images */
.images-responsive{
	max-width: 100%;
	height: auto;
}
/* image-center */
.image-center{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
.container{
	position: relative;
	width: 50%;
}
.image{
	display: block;
	width: 100%;
	height: auto;
}
.overlay{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #008CBA;
}
.container:hover .overlay{
	opacity: 1;
}
.text{
	color: white;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}
/* object-fit */
.object-fit-fill{
	object-fit: fill;
}
.object-fit-contain{
	object-fit: contain;
}
.object-fit-cover{
	object-fit: cover;
}
.object-fit-scaledown{
	object-fit: scale-down;
}
/* Pagination */
.pagination{
	display: inline-block;
}
.pagination a{
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
}
.pagination a.active {
  background-color: #4CAF50;
  color: white;
}
/* <div class="pagination"> */
  /* <a href="#">&laquo;</a> */
  /* <a href="#">1</a> */
  /* <a href="#">2</a> */
  /* <a href="#">3</a> */
  /* <a href="#">4</a> */
  /* <a href="#">5</a> */
  /* <a href="#">6</a> */
  /* <a href="#">&raquo;</a> */
/* </div> */
/* css multiple columns */
.columns-multiple-2{
	column-count: 2;
}
.columns-multiple-3{
	column-count: 3;
}
/* css multiple columns > Columns gap */
.column-gap-10px{
	column-gap: 10px;
}
.column-gap-20px{
	column-gap: 20px;
}
.column-gap-30px{
	column-gap: 30px;
}
.column-gap-40px{
	column-gap: 40px;
}
/* css multiple columns > Columns rule */
.columns-rule-solid {
  column-rule-style: solid;
}
.columns-rule-double {
  column-rule-style: double;
}
.columns-rule-solid {
  column-rule-style: solid;
}
.columns-rule-width-1px {
  column-rule-width: 1px;
}
.columns-rule-width-2px {
  column-rule-width: 2px;
}
.columns-width-50px {
  column-width: 50px;
}
.columns-width-100px {
  column-width: 100px;
}
.columns-width-150px {
  column-width: 150px;
}
.columns-width-200px {
  column-width: 200px;
}
.columns-width-250px {
  column-width: 250px;
}
.columns-width-300px {
  column-width: 300px;
}
.columns-width-350px {
  column-width: 350px;
}
.columns-width-400px {
  column-width: 400px;
}
/* css resize */
.resize-horizontal{
	resize: horizontal;
	overflow: auto;
}
.resize-vertical{
	resize: vertical;
	overflow: auto;
}
.resize-horizontal-vertical{
	resize: both;
	overflow: auto;
}
.resize-none{
	resize: none;
}
/* CSS Outline Offset */
.outline-red{
	outline: 4px solid red;
}
.outline-green{
	outline: 4px solid green;
}
.outline-blue{
	outline: 4px solid blue;
}
.outline-offset-5px{
	outline-offset: 5px;
}
.outline-offset-10px{
	outline-offset: 10px;
}
.outline-offset-15px{
	outline-offset: 15px;
}
/* css counter */
.counter-reset{
	counter-reset: section;
}
.counter-increment::before{
	counter-increment: section;
	content: counter(section);
}